:root {
	--skill-color: black;
	--container-width: 100vw;
	--number: 26;
	/* --skill-size: calc(var(--container-width) / var(--number)); */
	--skill-size: calc(100vw/15);
}

.skills {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
	/* padding-left: 5rem; */
}
.skill {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	/* margin-left: -120px; */
	/* margin-right: -26px; */
}

.skill div {
	/* margin-right: 20px; */
	/* margin-bottom: 20px; */
	/* min-height: var(--skill-size); */
	width: var(--skill-size);
	background-color: #ffffffe6;
	height: var(--skill-size);
	display: grid;
	place-items: center;
	padding-top: 5px;
	border-radius: 50%;
}

.skill p {
	color: var(--skill-color);
	font-weight: 600;
	display: block;
	/* margin-bottom: -2px; */
	font-size: 12px;
}

.skill div svg {
	min-height: calc(var(--skill-size) - 50px);
	width: calc(var(--skill-size) - 50px);
	color: var(--skill-color);
	transition: all 390ms ease-in-out;
	margin-bottom: -30px;
}

.js:hover {
	--skill-color: #fddd00;
}
.html:hover {
	--skill-color: #f1662a;
}
.css:hover,
.ts:hover {
	--skill-color: #1572b6;
}
.react:hover {
	--skill-color: #00d8ff;
}
.node:hover {
	--skill-color: #539e43;
}
.fig:hover {
	--skill-color: #a259ff;
}
.mon:hover {
	--skill-color: #41a247;
}
.fire:hover {
	--skill-color: #eeab37;
}

@media only screen and (max-width: 600px) {
	:root {
		--container-width: 500px;
		--number: 7;
	}
	.skill {
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 500px) {
	:root {
		--container-width: 380px;
		--number: 6;
		--skill-size: 50px;
	}

	.skill {
		justify-content: center;
		align-items: center;
	}
	.skill div {
		padding: 5px;
		border-radius: 50%;
	}
	.skill div svg {
		min-height: calc(var(--skill-size) - 30px);
		width: calc(var(--skill-size) - 30px);
		margin-bottom: 0px;
	}
	.skill p {
		font-weight: 400;
		display: block;
		font-size: 12px;
	}
}
@media only screen and (max-width: 350px) {
	:root {
		--container-width: 300px;
		--number: 5;
	}
	.skill {
		justify-content: center;
		align-items: center;
	}
	.skill p {
		display: none;
	}
}
