:root {
	--skill-color: black;
	--container-width: 100vw;
	--number: 26;
	/* --skill-size: calc(var(--container-width) / var(--number)); */
	--skill-size: 80px;
}

.skills {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
	margin-top: 3rem;
}

.skill {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.skill div {
	width: var(--skill-size);
	background-color: #ffffffe6;
	height: var(--skill-size);
	display: grid;
	place-items: center;
	padding-top: 5px;
	border-radius: 50%;
}

.skill p {
	color: var(--skill-color);
	font-weight: 600;
	display: block;
	font-size: 14px;
}

.skill div svg {
	min-height: calc(var(--skill-size) - 50px);
	width: calc(var(--skill-size) - 50px);
	color: var(--skill-color);
	transition: all 390ms ease-in-out;
	margin-bottom: -30px;
}

.js:hover {
	--skill-color: #fddd00;
}

.html:hover {
	--skill-color: #f1662a;
}

.css:hover,
.ts:hover {
	--skill-color: #1572b6;
}

.react:hover {
	--skill-color: #00d8ff;
}

.node:hover {
	--skill-color: #539e43;
}

.fig:hover {
	--skill-color: #a259ff;
}

.mon:hover {
	--skill-color: #41a247;
}

.fire:hover {
	--skill-color: #eeab37;
}

/* @media only screen and (min-width: 820px) {
	.skills {
		margin-top: 5rem;
	}
} */

@media only screen and (max-width: 600px) {
	:root {
		--container-width: 500px;
		--number: 7;
	}

	.skill {
		justify-content: center;
		align-items: center;
	}

	.skills {
		max-height: 70vh;
		overflow-y: scroll;
	}

	.skill p {
		color: var(--skill-color);
		font-size: 12px;
		display: block
	}
}

@media only screen and (max-width: 500px) {
	:root {
		--skill-color: black;
		--container-width: 100vw;
		--number: 26;
		--skill-size: 65px;
	}

	.skill p {
		color: var(--skill-color);
		font-size: 12px;
		display: block
	}
}

@media only screen and (max-width: 350px) {
	:root {
		--skill-color: black;
		--container-width: 100vw;
		--number: 26;
		--skill-size: 50px;
	}
}