.Projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	padding-top: 4rem;
	/* width: 100vw; */
	margin-top: -4rem;
}

.Projects>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 2rem; */
}

.Projects>h2{
	font-size: 3.5rem;
}

@media only screen and (max-width: 1040px) and (min-width: 899px) {
	.Projects>h2 {
		font-size: calc(1vw + 1.6rem);
	}
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
	.Projects>h2 {
		font-size: calc(1vw + 1.6rem);
	}
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
	.Projects>h2 {
		font-size: calc(1vw + 1.6rem);
	}
}

@media only screen and (max-width: 600px) {
	.Projects>h2 {
		font-size: calc(1vw + 1.6rem);
	}
}

@media only screen and (max-width: 500px) {
	.Projects>h2 {
		font-size: calc(1vw + 1.6rem);
	}
}

@media only screen and (min-width: 1024px){
	.home-text {
		padding: 5rem ;
		margin-top: -28rem;
		margin-bottom: -28rem;
	}
	.btn1{
		width: 120px;
		padding: 10px;
	}
}
@media only screen and (min-width: 820px) and (max-width: 1023){
	.home-text {
		padding: 5rem ;
		margin-top: -20rem;
		margin-bottom: -20rem;
	}
	.btn1{
		width: 120px;
		padding: 10px;
	}
}

@media only screen and (min-width: 390px) and (max-width: 819px){
	.home-text {
		padding-top: 20vh;
		margin: 1vh auto;
		padding: 1vh auto;
		margin-top: -35vh;
	}
	.home-text h1 {
		font-size: calc(1vw + 2rem);
	}
	.home-text .react-typewriter-text {
		font-size: calc(1vw + 1rem);
	}
	.btn1{
		font-size: 15px;
		width: 120px;
		padding: 10px;
	}
	.btn2{
		font-size: 10px;
		width: 120px;
	}
}

@media only screen and (min-width: 361px) and (max-width: 389px){
	.home-text {
		padding-top: 20vh;
		margin-top: -15vh;
	}
	.home-text h1 {
		font-size: calc(1vw + 2rem);
	}
	.home-text .react-typewriter-text {
		font-size: calc(1vw + 1rem);
	}
	.btn1{
		font-size: 15px;
		width: 120px;
		padding: 10px;
	}
	.btn2{
		font-size: 10px;
		width: 120px;
	}
}
@media only screen and (min-width: 350px) and (max-width: 360px){
	.home-text {
		padding-top: 20vh;
		margin-top: -25vh;
	}
	.home-text h1 {
		font-size: calc(1vw + 2rem);
	}
	.home-text .react-typewriter-text {
		font-size: calc(1vw + 1rem);
	}
	.btn1{
		font-size: 15px;
		width: 120px;
		padding: 10px;
	}
	.btn2{
		font-size: 10px;
		width: 120px;
	}
}